{% load static %}
<!doctype html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}">
</head>
<body>
    <img src="{% static 'img/back.png' %}">
    <h2>
        <a href="{% url 'blog:index' %}">日記</a>
        <a href="{% url 'game:index' %}">ゲーム</a>
        <a href="{% url 'study:index' %}">勉強内容</a>
    </h2>
    <h1>kan-nanのブログ</h1>
    <p>
        情報系の学部の大学院生になるわけだしブログでも作ってみるかぁってことで
        Heroku+django(python)で作り始めました！
        頑張って更新切らさないように頑張ります！
        ブログ作り自体の日記とか勉強したこととかを乗せていければなって思います！
        ページの下の方に他の発信媒体のリンク乗せてるのでそちらも是非！

    </p>
    ページの下の方に
    {% block content %}
    {% endblock %}
    <h2>リンク！</h2>
    <h3>
        <a href="https://twitter.com/Booo49357633">Twitter</a>
        <a href="https://github.com/kan-nan-sohta/">Github</a>
    </h3>

    <a class="twitter-timeline" href="https://twitter.com/Booo49357633?ref_src=twsrc%5Etfw">Tweets by Booo49357633</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>